<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>@@title</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__container">
                    <div class="header__left">
                        <a class="header__logo" href="/">
                            <img src="/img/logo.svg" alt="Ландшафтный дом">
                        </a>
                        <nav class="header__nav">
                            <ul class="header__navigation">
                                <li class="header__navigation_item">
                                    <a class="header__navigation_href" href="">
                                        О компании
                                    </a>
                                </li>
                                <li class="header__navigation_item">
                                    <a class="header__navigation_href" href="">
                                        Услуги
                                    </a>
                                </li>
                                <li class="header__navigation_item">
                                    <a class="header__navigation_href" href="">
                                        Магазин
                                    </a>
                                </li>
                                <li class="header__navigation_item">
                                    <a class="header__navigation_href" href="">
                                        Портфолио
                                    </a>
                                </li>
                                <li class="header__navigation_item">
                                    <a class="header__navigation_href" href="">
                                        Цены
                                    </a>
                                </li>
                                <li class="header__navigation_item">
                                    <a class="header__navigation_href" href="">
                                        Блог
                                    </a>
                                </li>
                                <li class="header__navigation_item">
                                    <a class="header__navigation_href" href="">
                                        Контакты
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header__right"></div>
                </div>
            </div>
        </header>