.header {
    background-color: var(--fifth-color);

    position: sticky;

    font-size: 1.125rem;

    z-index: 1000;

    &__container {
        &_mobile {
            display: none;

            position: sticky;
            top: 0;

            z-index: 10001;

            &_inner {
                display: flex;
                align-items: center;
                justify-content: space-between;
    
                padding: 1rem 0;
            }

            .header__logo {
                opacity: 1;
            }
        }

        &_flex {
            display: flex;
            justify-content: space-between;
            grid-gap: 4rem 10%;

            transition: 500ms;
    
            padding-top: 3.125rem;
        }
    }

    &__burger-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        flex-shrink: 0;

        position: relative;

        transition: 500ms;

        margin-bottom: 2rem;

        width: 1.625rem;
        height: 1.25rem;

        &::before,
        &::after {
            background-color: var(--first-color);
            
            content: "";

            display: inline-block;

            position: absolute;

            transition: inherit;

            width: 100%;
            height: 2px;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        &_line {
            background-color: var(--first-color);

            opacity: 1;

            transition: 200ms;

            width: 100%;
            height: 3px;
        }

        &._active {
            .header__burger-menu_line {
                opacity: 0;
            }

            &::before {
                transform: rotate(45deg) translateY(-65%);

                top: 50%;
            }
    
            &::after {
                transform: rotate(-45deg) translateY(65%);

                bottom: 50%;
            }
        }
    }

    &__logo {
        display: flex;
    }

    &__left {
        display: flex;
        align-items: center;
        align-self: flex-start;
        justify-content: space-between;

        margin-top: -1.625rem;
    }

    &__navigation {
        display: flex;
        align-items: center;
        column-gap: 2.25rem;
    }

    &__right {
        &_top {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            column-gap: 2.25rem;
        }

        &_bottom {
            display: flex;
            justify-content: flex-end;
        }
    }

    &__socials {
        display: flex;
        grid-gap: inherit;
    }

    &__info {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        row-gap: 0.31rem;

        &_bottom {
            display: flex;
            grid-gap: 0.93rem;
        }
    }

    &__numbers {
        display: flex;
        flex-direction: column;
        row-gap: 0.31rem;
    }

    &__city {
        ._select__input {
            font-size: 1.125rem;

            text-align: right;

            width: 4.75rem;
        }
    }

    &__language {
        ._select__input {
            font-size: 1.125rem;

            width: 2.15rem;
        }
    }

    &__order_call {
        padding: 0.625rem 1.375rem;
        margin-top: 1.87rem;
    }

    &__switch {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        grid-gap: 0.33rem;

        &_item {
            display: flex;
            align-items: center;
            column-gap: 0.33rem;

            &::after {
                content: "-";
            }

            &:last-child {
                &::after {
                    content: none;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .header {
        position: fixed;
        top: 0;

        width: 100%;

        &__container {
            &_mobile {
                display: block;
            }

            &_flex {
                background-color: var(--fifth-color);

                flex-direction: column;
                justify-content: flex-start;

                padding: 3.65%;

                position: fixed;
                left: 0;
                top: 0;

                transform: translateX(150%);

                overflow-y: auto;

                width: 100%;
                height: 100%;

                z-index: 10000;

                &._active {
                    transform: translateX(0);
                }
            }
        }

        &__logo {
            opacity: 0;
        }

        &__left {
            flex-direction: column;
            flex-grow: 0;

            margin: 0;
            width: 100%;
        }

        &__navigation {
            flex-direction: column;
            row-gap: 1.25rem;
        }

        &__right {
            &_bottom {
                justify-content: center;
            }
        }
    }
}