@import './reset';
@import './root';
@import './font/';
@import './UI/';
@import './layout/';
@import './sections/';
@import './helpers/';

html, body, .wrapper {
    font-family: 'Helios';
    font-size: 16px;

    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

@media (max-width: 1440px) {
    html, body, .wrapper {
        font-size: 14px;
    }
}

@media (max-width: 1024px) {
    html, body, .wrapper {
        font-size: 16px;
    }
}