@import './reset';
@import './root';
@import './font/';
@import './UI/';
@import './layout/';
@import './pages/';

html, body, .wrapper {
    font-family: 'Helios';
    font-size: 16px;

    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}