.button {
    background-color: transparent;

    border: 1px solid var(--second-color);

    color: var(--second-color);

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Helios';
    font-size: 1rem;

    letter-spacing: 0.03em;
    
    transition: 200ms;

    &:hover,
    &._active {
        background-color: var(--second-color);

        color: var(--fifth-color);
    }
}

.button-second {
    @extend .button;

    background-color: var(--second-color);

    color: var(--fifth-color);

    &:hover {
        background-color: transparent;

        color: var(--second-color);
    }
}