.pagination {
    display: flex;
    justify-content: center;

    font-size: 1.25rem;

    margin-top: 6.25rem;

    &__list {
        display: flex;
        align-items: center;
        grid-gap: 0.5rem;
    }

    &__item {
        &_arrow {
            margin: 0 0.75rem;
        }
    }
}