._select {
    cursor: pointer;

    position: relative;

    &__switch {
        background-color: var(--fifth-color);

        display: flex;
        align-items: center;

        height: 100%;
    }

    &__checked {
        cursor: pointer;

        display: inline-block;

        padding: 0 0.25rem;
    }

    &__list {
        background: var(--fifth-color);

        display: none;
        flex-direction: column;
        row-gap: 0.25rem;

        position: absolute;

        opacity: 0;

        z-index: 100;
    }

    &__item {
        cursor: pointer;

        display: inline-block;

        padding: 0 0.25rem;

        transition: 200ms;

        &:hover {
            background-color: var(--second-color);
            color: var(--fifth-color);
        }
    }

    &__arrow {
        transition: 200ms;
    }

    &._active {
        ._select__list {
            display: flex;
            opacity: 1;
        }

        ._select__arrow {
            transform: rotate(180deg);
        }
    }
}