@font-face {
    font-family: 'Mulish';
    src: url('/../font/Mulish/Mulish-Black.eot');
    src: local('Mulish Black'), local('Mulish-Black'),
        url('/../font/Mulish/Mulish-Black.eot?#iefix') format('embedded-opentype'),
        url('/../font/Mulish/Mulish-Black.woff2') format('woff2'),
        url('/../font/Mulish/Mulish-Black.woff') format('woff'),
        url('/../font/Mulish/Mulish-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('/../font/Mulish/Mulish-ExtraBold.eot');
    src: local('Mulish ExtraBold'), local('Mulish-ExtraBold'),
        url('/../font/Mulish/Mulish-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('/../font/Mulish/Mulish-ExtraBold.woff2') format('woff2'),
        url('/../font/Mulish/Mulish-ExtraBold.woff') format('woff'),
        url('/../font/Mulish/Mulish-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('/../font/Mulish/Mulish-Bold.eot');
    src: local('Mulish Bold'), local('Mulish-Bold'),
        url('/../font/Mulish/Mulish-Bold.eot?#iefix') format('embedded-opentype'),
        url('/../font/Mulish/Mulish-Bold.woff2') format('woff2'),
        url('/../font/Mulish/Mulish-Bold.woff') format('woff'),
        url('/../font/Mulish/Mulish-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('/../font/Mulish/Mulish-Regular.eot');
    src: local('Mulish Regular'), local('Mulish-Regular'),
        url('/../font/Mulish/Mulish-Regular.eot?#iefix') format('embedded-opentype'),
        url('/../font/Mulish/Mulish-Regular.woff2') format('woff2'),
        url('/../font/Mulish/Mulish-Regular.woff') format('woff'),
        url('/../font/Mulish/Mulish-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}