@font-face {
    font-family: 'Playfair Display';
    src: url('/../font/PlayfairDisplay/PlayfairDisplay-Regular.eot');
    src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
        url('/../font/PlayfairDisplay/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('/../font/PlayfairDisplay/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('/../font/PlayfairDisplay/PlayfairDisplay-Regular.woff') format('woff'),
        url('/../font/PlayfairDisplay/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}