@font-face {
    font-family: 'Posterama Text';
    src: url('/../font/PosteramaText/PosteramaText-Light.eot');
    src: url('/../font/PosteramaText/PosteramaText-Light.eot?#iefix') format('embedded-opentype'),
        url('/../font/PosteramaText/PosteramaText-Light.woff2') format('woff2'),
        url('/../font/PosteramaText/PosteramaText-Light.woff') format('woff'),
        url('/../font/PosteramaText/PosteramaText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Posterama Text';
    src: url('/../font/PosteramaText/PosteramaText-Bold.eot');
    src: url('/../font/PosteramaText/PosteramaText-Bold.eot?#iefix') format('embedded-opentype'),
        url('/../font/PosteramaText/PosteramaText-Bold.woff2') format('woff2'),
        url('/../font/PosteramaText/PosteramaText-Bold.woff') format('woff'),
        url('/../font/PosteramaText/PosteramaText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Posterama Text';
    src: url('/../font/PosteramaText/PosteramaText-Regular.eot');
    src: url('/../font/PosteramaText/PosteramaText-Regular.eot?#iefix') format('embedded-opentype'),
        url('/../font/PosteramaText/PosteramaText-Regular.woff2') format('woff2'),
        url('/../font/PosteramaText/PosteramaText-Regular.woff') format('woff'),
        url('/../font/PosteramaText/PosteramaText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Posterama Text';
    src: url('/../font/PosteramaText/PosteramaText-Thin.eot');
    src: url('/../font/PosteramaText/PosteramaText-Thin.eot?#iefix') format('embedded-opentype'),
        url('/../font/PosteramaText/PosteramaText-Thin.woff2') format('woff2'),
        url('/../font/PosteramaText/PosteramaText-Thin.woff') format('woff'),
        url('/../font/PosteramaText/PosteramaText-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Posterama Text';
    src: url('/../font/PosteramaText/PosteramaText-SemiBold.eot');
    src: url('/../font/PosteramaText/PosteramaText-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/../font/PosteramaText/PosteramaText-SemiBold.woff2') format('woff2'),
        url('/../font/PosteramaText/PosteramaText-SemiBold.woff') format('woff'),
        url('/../font/PosteramaText/PosteramaText-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

