@font-face {
    font-family: 'Quadrat Grotesk';
    src: url('/../font/QuadratGrotesk/QuadratGrotesk.eot');
    src: url('/../font/QuadratGrotesk/QuadratGrotesk.eot?#iefix') format('embedded-opentype'),
        url('/../font/QuadratGrotesk/QuadratGrotesk.woff2') format('woff2'),
        url('/../font/QuadratGrotesk/QuadratGrotesk.woff') format('woff'),
        url('/../font/QuadratGrotesk/QuadratGrotesk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}