@keyframes rotate-block {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-elem {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.advantages {
    background-color: var(--first-background-color);

    padding: 9rem 0 8.25rem;

    overflow: hidden;

    * {
        //animation: none !important;
    }

    &__container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    &__content {
        animation: rotate-block 8s infinite linear;

        display: inline-flex;
        align-items: center;
        align-self: flex-end;

        font-size: 2.875rem;

        &_left {
            max-width: 25.25rem;
        }

        &_right {
            color: var(--sixth-color);

            display: flex;
            row-gap: 11rem;

            &_left {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                p {
                    max-width: 25.25rem; 
                }
            }

            &_right {
                margin: 11rem 0;

                p {
                    max-width: 17.25rem;
                }
            }
        }
    }

    &__text-rotate {
        animation: rotate-elem 8s infinite linear;

        display: inline-block;
    }
}

@media (max-width: 1024px) {
    .advantages {
        &__container {
            flex-direction: column;
            row-gap: 3.125rem;
        }

        &__content {
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 2rem;

            font-size: 1.5rem;

            &_right {
                flex-direction: column;
                row-gap: inherit;

                &_left {
                    row-gap: inherit;
                }

                &_right {
                    margin: 0;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .advantages {
        padding: 4.5rem 0 4rem;
    }
}