.awards {
    padding: 12.5rem 0 13.5rem;

    &__title {
        margin-bottom: 10rem;
    }

    &__subtitle {
        text-align: center;

        margin: 0 auto 9.5rem;

        max-width: 70.25rem;
    }

    &__list {
        display: flex;
        justify-content: center;

        font-size: 1.25rem;

        &_inner {
            display: inline-flex;
            flex-direction: column;
            row-gap: 9.5rem;
        }
    }

    &__item {
        display: flex;
        align-items: flex-start;
        column-gap: 7.25rem;

        &_image {
            display: flex;

            padding-top: 35.4%;

            position: relative;

            width: 28.65vw;

            img {
                object-fit: cover;
                object-position: center;

                position: absolute;
                left: 0;
                top: 0;

                width: inherit;
                height: 100%;
            }
        }

        &_title {
            display: flex;
            flex-direction: column;

            font-size: 2.875rem;
            font-weight: bold;

            margin-bottom: 5.75rem;

            letter-spacing: 0.025rem;

            max-width: 37rem;

            &::after {
                background-color: var(--line-color);

                content: "";

                display: inline-block;

                margin-top: 4.375rem;

                width: 10rem;
                height: 1px;
            }

            &._short-line {
                margin-bottom: 5rem;

                &::after {
                    background-color: var(--first-color);

                    margin-top: 1.87rem;

                    width: 11rem;
                    height: 5px;
                }
            }
        }

        &_description {
            color: var(--second-color);

            display: flex;
            flex-direction: column;
            row-gap: 1.25rem;

            font-size: 1.125rem;

            max-width: 34rem;
        }

        .section__title {
            margin-bottom: 0;

            max-width: 44rem;
        }

        .section__title_line {
            &::after {
                content: none;
            }
        }
    }
}