.landscape-solutions {

    &__desktop {
        display: flex;
        justify-content: center;
    }

    &__title_line {
        &::before {
            order: 2;
        }

        &::after {
            order: 1;
        }
    }

    &__request {
        font-weight: 400;

        text-transform: uppercase;

        max-width: 13.125rem;
        width: 100%;
        height: 2.5rem;
    }

    &__image {
        box-shadow: var(--img-shadow);

        display: inline-flex;

        overflow: hidden;

        img {
            object-fit: cover;
            object-position: center;
        }

        &._1 {
            align-self: flex-end;

            margin-top: 5.625rem;
            margin-right: 1.25rem;

            img {
                width: 9.64vw;
            }
        }

        &._2 {
            align-self: flex-end;

            img {
                width: 7.81vw;
            }
        }

        &._3 {
            display: inline-flex;
            align-self: flex-end;

            margin-top: 0.75rem;
            margin-right: 1.25rem;

            img {
                width: 17.916vw;
            }
        }

        &._4 {
            align-self: start;

            img {
                width: 24.739vw;
            }
        }

        &._5 {
            align-self: flex-end;

            margin-left: 1.25rem;

            img {
                width: 7.81vw;
            }
        }
    }

    &__center {
        display: flex;
        flex-direction: column;

        margin-left: -5rem;
        margin-right: 1.25rem;

        max-width: 39.25rem;

        &-right {
            display: flex;
            flex-direction: column;
            row-gap: 3.75rem;

            margin-top: 4.5rem;
        }
    }

    &__expense-account {
        text-transform: uppercase;

        width: 100%;
        max-width: 23.125rem;
        height: 2.5rem;
    }

    &__mobile {
        display: none;
        flex-direction: column;
    }

    &__top {
        display: flex;

        &_left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            row-gap: 3rem;

            flex: 0 0 25%;
        }
    }

    &__bottom {
        display: flex;
        column-gap: 5.25rem;
        justify-content: flex-end;

        margin-top: 1.25rem;
    }
}

@media (max-width: 1024px) {
    .landscape-solutions {
        &__desktop {
            display: none;
        }

        &__mobile {
            display: flex;
        }
        
        &__center {
            margin-left: 0;
            margin-right: 0;

            max-width: 100%;
        }

        &__image {
            &._1 {
                margin-top: 0;
                margin-right: 1.25rem;

                img {
                    width: 100%;
                }
            }

            &._2 {
                margin-left: 1.75rem;
                margin-bottom: 2.25rem;

                img {
                    width: 100%;
                }
            }

            &._3 {
                margin: 0.93rem 0 1.75rem 3rem;

                width: 90%;

                img {
                    width: 100%;
                }
            }

            &._4 {
                width: 56%;

                img {
                    width: 100%;
                }
            }

            &._5 {
                flex: 0 0 18%;

                margin: 0;
                margin-top: 2.25rem;

                img {
                    width: 100%;
                }
            }
        }

        &__request {
            text-transform: none;
        }

        &__expense-account {
            margin-left: auto;
        }
    }
}

@media (max-width: 576px) {
    .landscape-solutions {
        .button {
            text-transform: none;
        }

        &__expense-account {
            width: calc(100% - 1.87rem);
        }

        &__image {
            &._3 {
                width: auto;
            }

            &._4 {
                width: 46%;
            }

            &._5 {
                flex: 0 0 18%;

                margin: 0;
                margin-top: 2.25rem;
            }
        }
    }
}

@media (max-width: 400px) {
    .landscape-solutions {
        &__top {
            &_left {
                flex-basis: 22%;
            }
        }
    }
}

@media (max-width: 380px) {
    .landscape-solutions {
        &__top {
            &_left {
                flex-basis: 20%;
            }
        }
    }
}

@media (max-width: 370px) {
    .landscape-solutions {
        &__expense-account {
            width: 100%;
        }

        &__image {
            &._3 {
                margin-left: 0;
            }

            &._4 {
                width: 100%;
            }

            &._5 {
                flex-basis: 30%;
            }
        }

        &__top {
            &_left {
                display: none;
            }
        }

        &__bottom {
            column-gap: 2rem;
        }
    }
}