.price {
    padding: 12.5rem 0 3.25rem;

    &__title {
        margin-bottom: 19.75rem;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 18rem;

        margin-bottom: 15.75rem;
    }

    &__item {
        counter-increment: num;

        &_show {
            display: flex;
            align-items: center;
        }

        &_title {
            font-size: 2.25rem;

            margin-right: auto;
            margin-left: 1.25rem;

            &::before {
                content: counter(num);

                display: flex;

                font-size: 1.25rem;
                font-weight: bold;

                margin-left: -1.25rem;

                height: 100%;
            }
        }

        &:nth-child(-n+9) {
            &>.price__item_title {
                &::before {
                    content: "0" counter(num);
                }
            }
        }

        &_line {
            background-color: var(--line-second-color);

            margin-top: 1.25rem;

            width: 11.125rem;
            height: 5px;
        }

        &_cost {
            font-size: 1.5rem;
        }

        &_switch {
            display: flex;
            align-items: center;

            position: relative;

            margin-left: 6.25rem;

            &::before,
            &::after {
                background-color: var(--first-color);

                content: "";

                display: inline-block;
                flex-shrink: 0;

                width: 4.75rem;
                height: 1px;
            }

            &::after {
                position: absolute;
                left: calc(50% - 1px);

                width: 1px;
                height: 4.75rem;
            }
        }
    }


    &__button {
        margin: 0 auto 6.875rem;

        width: 100%;
        max-width: 19.375rem;
        height: 3.75rem;
    }

    &__hint {
        color: var(--line-color);

        line-height: 152%;

        max-width: 57.5rem;
    }
}

@media (max-width: 1024px) {
    .price {
        &__title {
            margin-bottom: 10rem;
        }

        &__list {
            column-gap: 9rem;
        }

        &__item {
            &_show {
                flex-wrap: wrap;
                grid-gap: 2.5rem 0;
            }

            &_title {
                flex: 1 0 100%;
            }

            &_switch {
                margin-left: auto;

                &::before {
                    width: 2.19rem;
                }

                &::after {
                    height: 2.19rem;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .price {
        padding-top: 6.25rem;

        &__title {
            margin-bottom: 5rem;
        }

        &__list {
            row-gap: 4.5rem;

            margin-bottom: 7.75rem;
        }

        &__item {
            &_title {
                font-size: 1.5rem;
            }

            &_cost {
                font-size: 1rem;
            }

            &_switch {
                margin-left: auto;

                &::before {
                    width: 1.5rem;
                }

                &::after {
                    height: 1.5rem;
                }
            }
        }

        &__button {
            margin-bottom: 3.75rem;
        }
    }
}