.products {
    padding: 12.5rem 0 8.25rem;

    &__title {
        margin-bottom: 13rem;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 8rem 4rem;
    }

    &__item {
        &_image {
            margin-bottom: 0.93rem;

            img {
                box-shadow: var(--img-shadow );

                width: 100%;
            }
        }

        &_title {
            color: var(--second-color);

            font-size: 1.5rem;
            font-weight: bold;

            margin-bottom: 0.625rem;
        }

        &_description {
            color: var(--third-color);

            display: flex;
            flex-direction: column;
            row-gap: 0.9375rem;

            font-size: 1.125rem;
        }
    }

    &__button {
        margin: 9.25rem auto 0;

        width: 19.375rem;
        height: 3.75rem;
    }
}