.products {
    padding: 6.875rem 0 8.25rem;

    &__title {
        margin-bottom: 13rem;
    }

    &__switches {
        margin-bottom: 6.25rem;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 8rem 4rem;
    }

    &__item {
        &_image {
            box-shadow: var(--img-shadow);

            position: relative;

            padding-top: 61.8%;
            margin-bottom: 0.93rem;

            img {
                position: absolute;
                left: 0;
                top: 0;

                width: 100%;
                height: 100%;
            }
        }

        &_title {
            color: var(--second-color);

            font-size: 1.5rem;
            font-weight: bold;

            margin-bottom: 0.625rem;
        }

        &_description {
            color: var(--third-color);

            display: flex;
            flex-direction: column;
            row-gap: 0.9375rem;

            font-size: 1.125rem;
        }
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        grid-gap: 1.87rem 3.125rem;

        margin-top: 9.25rem;

        button {
            margin: 0;
        }
    }

    &__button {
        font-size: 1.25rem;

        margin: 9.25rem auto 0;

        width: 19.375rem;
        height: 3.75rem;
    }
}

@media (max-width: 1024px) {
    .products {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 768px) {
    .products {
        padding: 6.25rem 0 4.125rem;

        &__title {
            margin-bottom: 3.125rem;
        }

        &__list {
            grid-template-columns: 1fr;
            grid-gap: 3.125rem;
        }

        &__switches {
            margin-bottom: 3rem;
        }
    }
}