.reviews {
    background-color: var(--fourth-color);

    padding: 8rem 0 6.25rem;

    &__title {
        margin-bottom: 7.5rem;
    }

    &__item {
        font-size: 1.5rem;

        padding: 0 10vw;

        &_name {
            font-weight: bold;

            margin-bottom: 2.5rem;
        }

        &_comment {
            line-height: 152%;
        }
    }

    &__bottom {
        color: var(--third-color);

        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1.25rem;

        font-size: 1.5rem;
        
        margin-top: 5rem;
    }

    &__counter {
        display: flex;
        align-items: center;

        width: auto !important;
    }
}

@media (max-width: 768px) {
    .reviews {
        padding: 4rem 0 3.125rem;

        &__title {
            margin-bottom: 3rem;
        }

        &__item {
            flex-basis: 100%;

            padding: 0 5vw;
        }
    }
}