.substrate-form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-gap: 2rem 116.8px;

    padding: 1.5rem 0;

    &__content {
        flex: 1 0 20%;
    }

    &__title {
        margin-bottom: 2.625rem;

        max-width: 45rem;
    }

    &__button {
        width: 100%;
        max-width: 13.125rem;
        height: 2.5rem;
    }

    &__images {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        flex-shrink: 0;

        flex: 0 0 52%;

        img {
            box-shadow: var(--img-shadow);

            &:first-child {
                width: 91.84%;
            }

            &:nth-child(2) {
                transform: translate(-12.8%,-0.6px);

                width: 100%;
            }
        }
    }
}

@media (max-width: 1024px) {
    .substrate-form {
        flex-direction: column-reverse;

        &__images {
            transform: translateX(6.4%);

            width: 75%;
        }
    }
}

@media (max-width: 576px) {
    .substrate-form {
        &__button {
            margin-left: auto;
        }

        &__images {
            width: 90%;
        }
    }
}