.uniqueness {
    padding: 6.75rem 0 5.5rem;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 5rem;
    }

    &__feedback {
        display: flex;
        align-items: center;
        column-gap: 0.9375rem;

        &_text {
            color: var(--first-color);

            font-weight: bold;
        }
    }

    &__achievements {
        display: grid;
        grid-gap: 7.5rem;
        grid-template-columns: repeat(3, 1fr);

        padding: 7.5rem;
        margin: 0 auto;
    }

    &__achievement {
        &_icon {
            border: 1px solid var(--second-color);
            border-radius: 50%;

            display: flex;
            align-items: center;
            justify-content: center;

            margin-bottom: 1.25rem;

            width: 3.75rem;
            height: 3.75rem;
        }

        &_title {
            color: var(--second-color);

            font-size: 1.25rem;

            margin-bottom: 0.625rem;
        }

        &_description {
            line-height: 152%;
        }
    }
}

@media (max-width: 1024px) {
    .uniqueness {
        &__achievements {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 3.125rem;

            padding: 0;
        }
    }
}

@media (max-width: 768px) {
    .uniqueness {
        &__top {
            align-items: flex-start;
            flex-direction: column;
            grid-gap: 1rem;
        }

        &__achievements {
            grid-template-columns: 1fr;
            grid-gap: 3.125rem;

            padding: 0;
        }
    }
}